*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
  }
  .sub-header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,136,149,1) 0%, rgba(0,212,255,1) 0%, rgba(20,154,174,1) 66%);
  }

  nav{
    display: flex; 
    flex-flow: nowrap;
    padding: 3% 5%;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: relative;
  }
  .hamburger{
   display: none;
  }
  .backdrop2{
  display: none;
  }
  .backdrop2--active{
    display: block;
  }
  .sidebar2{
    flex: 1;
    text-align: right;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .sidebar_profile{
    padding: 1rem 1.5rem;
    display: flex;
    border-bottom: 2px solid rgba(2,2,2,0.1);
    align-items: center;
  }
 
  

nav img{
  width: 160px;
  padding-top: 15px;
  border-radius: 50%;
}

.sidebar_list{
  list-style: none;
  text-decoration: none;
}
.sidebar_item{
  padding: 1rem .7rem;
  display: inline-block;
}
.sidebar_item a{
  color: #fff;
  border: 1px solid white;
  padding: 6px 9px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.sidebar_item a:hover{
  background: #154B49;
  border: none;
  transition: 1s;
} 


@media(max-width: 892px){
nav{
  color: #fff;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}
.hamburger{
  display: block;
  transform: translateY(3px);
  margin-right: 1rem;
  cursor: pointer;
}
.times{
  display: flex;
  margin: 1rem;
  cursor: pointer;
}
.backdrop2{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  display: none;
}
.backdrop2--active{
  display: block;
}
.sidebar2{
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  max-width: 18rem;
  height: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 0 4px rgba(0,0,0.2);
  background-color: #245854; 
  /* transfrom from right */
  transform: translateX(100%);
  
}
.sidebar2--active{
  /* transfrom from right */
  transform: translateX(0%);
} 
.sidebar_list{
  list-style: none;
}
.sidebar_item{
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  display: block;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.sidebar_item a{
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  }
}
